* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --font-open: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --header-height: 70px;
}

header {
    width: 100%;
    height: 100vh;
}
.container {
    max-width: 1352px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    width: 100%;
    height: var(--header-height);
    color: var(--color-primary);
    position: sticky;
    top: -1px;
}

.logo {
    font-size: 37px;
    font-weight: 300;
    font-style: var(--font-raleway);
}

.menu, .social-media {
    display: flex;
}

.menu li {
    list-style: none;
    margin-left: 95px;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-family: var(--font-open);
    text-align: center;
    color: var(--color-grey);
}

.menu li a:hover {
    color: black;
    padding: 24px;
    border-bottom: 2px solid var(--color-primary);
    cursor: pointer;
}

.jumbo {
    width: 100%;
    height: calc(100vh - var(--header-height));
    box-shadow: 0px 3px 6px #000000;
}

.jumbo-content {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    color: #000000;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 49px;
    font-style: var(--font-raleway);
    font-weight: normal;
}

/* Font */

.header-content p, 
.benefit-text p, 
.questions .comment,
.contact .details,
.consent-text {
    padding-top: 20px;
    font-size: 16px;
    padding-bottom: 37px;
    font-family: var(--font-open);
    font-weight: normal;
}

.btn-header {
    padding: 22px 157px;
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    background-color: var(--color-primary);
    color: #ffffff;
}

.jumbo-image {
    width: 100%;
    height: 60%;
    background: url(../assets/Background.png);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.statistics {
    width: 100%;
    height: 531px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px -5px 80px var(--color-grey);
}

.entries,
.seen-products,
.added-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statistics h2, .pricing h2, .benefit-text h2 {
    font-size: 36px;
    font-style: var(--font-raleway);
    padding: 100px 0;
    font-weight: normal;
    color: #000000;
}

.statistics-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statistics-content .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
}

.statistics-content .c2 {
    background-color: var(--color-primary);
}

.statistics-content .c1 {
    background-color: var(--color-redish);
}

.statistics-content .c3 {
    background-color: var(--color-green);
}

.circle img {
    position: absolute;
    top: 5px;
    right: -15px;
}

.c2 img {
    position: relative;
    top: 10px;
    right: -15px;
}

.c3 img {
    position: relative;
    right: -25px;
}

.statistics-numbers {
    font-size: 20px;
    font-family: var(--font-raleway);
    font-weight: 800;
    letter-spacing: 6px;
    padding: 20px 0;
}

.statistics-text {
    font-size: 16px;
    font-family: var(--font-raleway);
    color: var(--color-grey);
    text-align: center;
}

.benefits {
    width: 100%;
    height: 1395px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--color-light-grey);
    border: 1px solid #E8E9ED;
}

.benefit {
    width: 1124px;
    height: 370px;

    display: flex;
    justify-content: space-between;
}

.b1, .b2 {
    background-color: #ffffff;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    position: relative;
}

.b3 {
    display: flex;
    justify-content: space-between;
}

.b4 {
    width: 623px;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.b5 {
    width: 440px;
    height: 100%;
    background-color: var(--color-green);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    position: relative;
}

.circle-benefit, .romb-benefit {
    align-self: center;
    margin: 0 70px;
}

.romb-benefit {
    width: 180px;
    height: 180px;
    border-radius: 41px;
    background-color: var(--color-redish);
    transform: rotate(45deg);
    margin-right: 100px;
    position: relative;
    bottom: 20px;
}

.romb-benefit img {
    transform: rotate(-45deg);
    position: absolute;
    bottom: -140px;
    right: -70px;
}

.circle-benefit {
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: relative;
    top: -12px;
}

.circle-benefit img {
    position: absolute;
    top: 20px;
}

.benefit-text {
    width: 623px;
    height: 100%;
    padding: 0 20px 0 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefit-background1::after {
    content: '';
    display: block;
    width: 330px;
    height: 4px;
    background-color: var(--color-redish);
}

.benefit-background2::after {
    content: '';
    display: block;
    width: 330px;
    height: 4px;
    background-color: var(--color-primary);
    position: absolute;
    right: 106px;
    bottom: 80px;
}

.benefit-background3::after {
    content: '';
    display: block;
    width: 330px;
    height: 4px;
    background-color: var(--color-green);
}

.benefit-text-container {
    width: 416px;
    align-self: flex-end;
}

.benefit-text h2 {
    padding: 0;
}
.benefit-text p {
    display: block;
    padding: 30px 0 50px 0;
}

.b5 img {
    position: absolute;
    top: 98px;
    left: 80px;
}

/* Pricing */

.pricing {
    width: 100%;
    height: 716px;
    text-align: center;
    background-color: #ffffff;
}

.pricing-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-box {
    width: 372px;
    height: 461px;
    margin: 0 30px;
    border-radius: 18px;
    text-align: center;
    position: relative;
}

.basic {
    border: 1px solid var(--color-redish);
}

.professional {
    width: 405px;
    height: 500px;
    border: 1px solid var(--color-primary);
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
}

.premium {
    border: 1px solid var(--color-green);
}

.pricing-box h3 {
    font-size: 20px;
    font-family: var(--font-raleway);
    font-weight: 800;
    margin: 34px 0 14px 0;
    color: #000000;
}

.pricing-box p {
    font-size: 12px;
    font-family: var(--font-raleway);
    font-weight: 800;
    margin-bottom: 50px;
}

.professional p {
    margin-bottom: 60px;
}

.pricing-box p:first-of-type {
    font-size: 46px;
    font-family: var(--font-open);
    font-weight: 300;
    margin-bottom: 69px;
    color: var(--color-redish);
}

.professional p:first-of-type {
    color: var(--color-primary);
    margin-bottom: 5px;
}

.premium p:first-of-type {
    color: var(--color-green);
    margin-bottom: 5px;
}

.checkmark, .red-checkmark {
    margin-bottom: 20px;
    font-size: 14px;
}

.checkmark-professional {
    margin-bottom: 25px;
}

.pricing-box .checkmark::before {
    content:'';
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 10px;
    background: url(../assets/Ckechmark-1.svg);
}

.pricing-box .red-checkmark::before {
    content:'';
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 10px;
    background: url(../assets/Close.svg);
}

.btn-begin {
    width: 150px;
    height: 50px;
    border-radius: 23px;
    color: #ffffff;
    font-size: 13px;
    font-family: var(--font-open);
    background-color: var(--color-redish);
    border: none;
    outline: none;
    position: absolute;
    bottom: -25px;
    left: 110px;
}

button.blue {
    background-color: var(--color-primary);
    position: absolute;
    left: 125px;
}

button.green {
    background-color: var(--color-green);
}
/* Contact */

.contact {
    width: 100%;
    height: 590px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.questions {
    width: 342px;
    height: 376px;
    margin-right: 115px;
}

.questions h2 {
    font-size: 49px;
    font-style: var(--font-raleway);
    font-weight: normal;
    color: #000000;
}

.questions .comment {
    padding: 22px 0 42px 0;
}

.details {
    display: flex;
    color: var(--color-grey);
}

.details p {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.details .mail {
    margin-right: 20px;
}

.details .mail::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 27px;
    height: 27px;
    background: url(../assets/Mail\ Icon.svg);
}

.details .phone::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 27px;
    height: 27px;
    background: url(../assets/Phone\ Icon.svg);
}

.form {
    width: 440px;
    height: 376px;
    display: flex;
    flex-direction: column;
}

.personal-data {
    width: 100%;
    text-transform: uppercase;
    font-size: 11px;
    font-family: var(--font-open);
    color: var(--color-primary);
    font-weight: 800;
}

.consent {
    margin: 30px 0 20px 0;
    display: flex;
}

.consent-text {
    padding: 0;
    margin-left: 10px;
    display: inline-block;
    width: 405px;
    font-size: 12px;
    color: var(--color-grey);
}

.personal-data .name {
    margin-bottom: 45px;
}

input[type="text"],
input[type="email"] {
    border: none;
    width: 100%;
    height: 43px;
    background-color: #ffffff;
    border-bottom: 1px solid var(--color-grey);
    cursor: pointer;
}

.checkbox {
    display: none;
}

.styled-checkbox {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    cursor: pointer;
}

.consent input:checked ~ .styled-checkbox {
    background: url(../assets/Checkmark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

button.send {
    display: inline-block;
    padding: 20px 95px;
    font-family: var(--font-open);
    font-size: 13px;
    font-weight: 800;
    border-radius: 35px;
    border: none;
    outline: none;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    background-color: var(--color-primary);
    color: #ffffff;
    cursor: pointer;
    transition: 0.125s;
    align-self: flex-end;
}

.button.send:active {
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.5);
}

/* Footer */

footer {
    width: 100%;
    height: 89px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-light-grey);
    box-shadow: 0px -5px 40px var(--color-grey);
}

.logo-footer {
    width: 214px;
    margin-right: 1000px;
}

.logo-footer h3 {
    font-size: 26px;
    font-weight: 300;
    font-style: var(--font-raleway);
    color: var(--color-primary);
    padding-bottom: 7px;
}

.logo-footer h6 {
    font-size: 11px;
    font-family: var(--font-open);
    font-weight: normal;
    color: var(--color-grey);
}

.social-media li:first-child {
    margin-right: 20px;
}