* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --font-open: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --header-height: 70px;
}

header {
    width: 100%;
    height: 100vh;
}
.container {
    max-width: 1352px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    width: 100%;
    height: var(--header-height);
    color: var(--color-primary);
}

.logo {
    font-size: 37px;
    font-weight: 300;
    font-style: var(--font-raleway);
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin-left: 30px;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-family: var(--font-open);
    text-align: center;
    color: var(--color-grey);
}

li a:hover {
    color: black;
    padding: 25px;
    border-bottom: 2px solid var(--color-primary);
    cursor: pointer;
}

.jumbo {
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: mediumaquamarine;
}

.statistics {
    width: 100%;
    height: 531px;
    background-color: mediumorchid;
}

.benefits {
    width: 100%;
    height: 1395px;
    background-color: navajowhite;
}

.pricing {
    width: 100%;
    height: 716px;
    background-color: lightblue;
}

.contact {
    width: 100%;
    height: 590px;
    background-color: cornflowerblue;
}

footer {
    width: 100%;
    height: 89px;
    background-color: burlywood;
}